{{/* Done to move the appearance to the left, which I couldn't do with the default */}}
<footer class="py-10 print:hidden">
    <div class="flex items-center justify-between">
      {{/* Appearance switch */}}
        <div class="text-sm cursor-pointer text-neutral-700 dark:text-neutral hover:text-primary-600 dark:hover:text-primary-400 ltr:mr-14 rtl:ml-14">
          <button
            id="appearance-switcher"
            class="w-12 h-12 "
            type="button"
            title="{{ i18n "footer.dark_appearance" }}"
          >
            <span class="inline dark:hidden">{{ partial "icon.html" "moon" }}</span>
            <span class="hidden dark:inline">{{ partial "icon.html" "sun" }}</span>
          </button>
        </div>
    </div>
  </footer>